.card-header { background-color: #6c757d; }
.card-title {color:#fff;}
.login-btn {background-color: #59b7b3d1;}
.app-nav a {color: #fff !important;}
.dropdown-menu a {color:#000 !important;}
.dropdown-menu a:hover {background-color:#427bff !important;color:#fff !important;}
.card-head{color: #fff;}
.nav-right{margin-right: 5%;}